.address {
  @extend %list;

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {
    @media screen and (max-width: $till-tablet) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: $tablet) and (max-width: $till-desktop) {
      margin-bottom: 10px;
    }

        @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }
  

  &__link {
    @extend %link;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: color $transition-duration $transition-t-function;

    color: $txt-grey;
    font-weight: $font-medium;
    letter-spacing: 0.02em;

    @media screen and (max-width: $till-tablet) {
      font-size: $fsz-header-mobile;
    line-height: 1.17;
    }

    @media screen and (min-width: $tablet) {
      font-size: $fsz-header;
    line-height: 1.14;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $txt-accent;
  }

  &__link:hover &__icons,
  &__link:focus &__icons {
    fill: $txt-accent;
  }

  &__icons {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
}