.address {
  @extend %list;

  &__item {
    margin-bottom: 16px;
  }

  &__link {
    @extend %link;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: color $transition-duration $transition-t-function;

    color: $txt-grey;
    font-weight: $font-medium;
    font-size: $fsz-header-mobile;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  &__link:hover,
  &__link:focus {
    color: $txt-accent;
  }

  &__link:hover &__icons,
  &__link:focus &__icons {
    fill: $txt-accent;
  }

  &__icons {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
}


// .address {
//   display: flex;
//   align-items: baseline;
//   margin-left: auto;
//   list-style-type: none;

//   &__link {
//     display: flex;
//     align-items: center;

//     transition: color $transition-duration $transition-t-function;

//     color: $txt-grey;

//     font-weight: $font-medium;
//     font-size: $fsz-header;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//   }
//   &__item:first-child {
//     margin-right: 30px;
//   }
// }
