.contacts {
  color: $txt-white;
  font-style: normal;
  font-weight: $font-normal;
  font-size: $fsz-footer;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &__link {
    @extend %link;
    color: $txt-footer-contacts;
  }

  &__link:hover,
  &__link:focus {
    color: $txt-accent;
  }

  &__link {
    transition: color $transition-duration $transition-t-function;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

// .contacts {
//   &__item:not(:last-child) {
//     margin-bottom: 9px;
//   }
// }
