.current-page {
  position: relative;

  @media screen and (max-width: $till-tablet) {
    padding-bottom: 8px;
  }

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;

    content: "";
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: $bgc-button;
  }
}
