.mainlogo {
  @extend %link;
  display: block;
  color: $txt-accent;
  font-family: $font-family-logo;
  font-size: $fsz-mainlogo;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &__footer {
    margin-bottom: 20px;
  }

  &__footer--coloring {
    color: $txt-white;
  }

  &__nav--coloring {
    color: $txt-black;
  }
}
