.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: $bgc-button;

  transform: translateY(100%);
  opacity: 0;

  transition: transform $transition-duration $transition-t-function,
    opacity $transition-duration $transition-t-function;

  @media screen and (max-width: $till-tablet) {
    padding: 17% 5%;
    overflow-y: scroll;
  }

  @media screen and (min-width: $tablet) {
    padding: 49px 24px;
  }

  @media screen and (min-width: $desktop) {
    padding: 63px 24px;
  }

  &__text {
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-weight: $font-normal;
    font-size: $fsz-overlay;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: $txt-white;
  }
}
