.container {
  padding: 60px 15px;
  margin: 0 auto;
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;

  text-align: center;
  font-weight: $font-bold;
  font-size: $fsz-section-title-mobile;
  line-height: 1.17;

  color: $txt-black;
}

.body {
  background-color: $bgc-primary;
  font-family: $font-family;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}



// .container {
//   width: 1200px;
// }

// a {
//   text-decoration: none;
//   }

// .section-title {
//   margin-top: 0;
//   margin-bottom: 50px;

//   text-align: center;
//   font-weight: $font-bold;
//   font-size: $fsz-section-title;
//   line-height: 1.17;

//   color: $txt-black;
// }

// .portfolio {
//   padding: 94px 15px;
// }
