.container {
  margin: 0 auto;

  @media screen and (max-width: $till-desktop) {
    padding: 60px 15px;
  }

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding: 94px 15px;
  }
}

.section-title {
  margin-top: 0;

  text-align: center;
  font-weight: $font-bold;
  line-height: 1.17;
  color: $txt-black;

  @media screen and (max-width: $till-desktop) {
    margin-bottom: 30px;
    font-size: $fsz-section-title-mobile;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: $fsz-section-title;
  }
}

.body {
  background-color: $bgc-primary;
  font-family: $font-family;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    padding-top: 60px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}
