// Color

$bgc-primary: #ffffff;
$bgc-secondary: #f5f4fa;
$bgc-footer: #2f303a;
$bgc-button: #2196f3;
$txt-black: #212121;
$txt-grey: #757575;
$txt-accent: #2196f3;
$txt-white: #ffffff;
$txt-footer-contacts: rgba(255, 255, 255, 0.6);
$icons-customers: #afb1b8;

// Transition

$transition-duration: 250ms;
$transition-t-function: cubic-bezier(0.4, 0, 0.2, 1);

// Fonts
$font-family: "Roboto", sans-serif;
$font-family-logo: Raleway, sans-serif;

// Fonts: Weights
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-extra-bold: 900;

// Fonts: Sizes
$fsz-mainlogo: 26px;
$fsz-main-activity: 44px;
$fsz-main-activity-mobile: 26px;
$fsz-section-title: 36px;
$fsz-section-title-mobile: 28px;
$fsz-form-title: 20px;
$fsz-overlay: 18px;
$fsz-projects-title: 18px;
$fsz-projects-type: 16px;
$fsz-button: 16px;
$fsz-person-content: 16px;
$fsz-header: 14px;
$fsz-footer: 14px;
$fsz-checkbox-mobile: 12px;
$fsz-checkbox: 14px;
$fsz-advantages-content: 14px;
$fsz-our-work: 14px;
$fsz-form-content: 12px;
