.footer {
  background-color: $bgc-footer;
  text-align: center;

  &__container {
    margin: 0 auto;
    padding: 60px 15px;

    @media screen and (min-width: $mobile) {
      max-width: $mobile;
    }

    @media screen and (min-width: $tablet) {
      max-width: $tablet;
    }

    @media screen and (min-width: $desktop) {
      max-width: $desktop;
    }
  }

  &__contacts {
    @media screen and (max-width: $till-desktop) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }

  &__join-block {
    @media screen and (max-width: $till-desktop) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: $desktop) {
      text-align: start;
    }
  }

  &__join-block .socials__link {
    background: rgba(255, 255, 255, 0.1);
  }

  &__join-block .socials__icon {
    fill: $bgc-primary;
  }

  &__join {
    display: block;
    margin-bottom: 20px;

    font-weight: $font-bold;
    font-size: $fsz-footer;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $txt-white;
  }

  &__join-block .socials__link:hover,
  &__join-block .socials__link:focus {
    background: $bgc-button;
  }

  &__content--positioning {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}
