.footer {
  background-color: $bgc-footer;
  text-align: center;

  &__contacts {
    margin-bottom: 60px;
  }

  &__subscribing {
    margin-bottom: 60px;
  }

  &__subscribing .socials__link {
    background: rgba(255, 255, 255, 0.1);
  }

  &__subscribing .socials__icon {
    fill: $bgc-primary;
  }

  &__join {
    display: block;
    margin-bottom: 20px;

    font-weight: $font-bold;
    font-size: $fsz-footer;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $txt-white;
  }

  &__subscribing .socials__link:hover,
  &__subscribing .socials__link:focus {
    background: $bgc-button;
  }
}

// .footer {
//   &__contacts {
//     margin-right: 70px;
//   }
// }
