.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 15px;

  border-bottom: 1px solid #ececec;
  background-color: $bgc-primary;

  z-index: 8;

  &--flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__burger:hover .burger,
  &__burger:focus .burger {
    fill: $txt-accent;
  }

  &__burger .burger-close {
    display: none;
  }

  &__burger.is-open .burger-close {
    display: block;
  }

  &__burger.is-open:hover .burger-close,
  &__burger.is-open:focus .burger-close {
    fill: $txt-accent;
  }

  &__burger.is-open .burger {
    display: none;
  }
}

.mobile-menu {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 19;
  width: 100%;

  padding: 60px 0;

  text-align: center;
  background-color: $bgc-primary;

  border-top: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    display: block;
  }
}
