.main-activity {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;

  text-align: center;
  background: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main-banner-image-m.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__content {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: $txt-white;

    font-weight: $font-extra-bold;
    font-size: $fsz-main-activity-mobile;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

// .main-activity {
//   max-width: 1600px;
//   height: 600px;

//   &__content {
//     padding: 200px 0;
//     max-width: 696px;
//   }

//   &__title {
//     margin-bottom: 40px;
//     font-size: $fsz-main-activity;
//     line-height: 1.36;
//   }
// }
