.nav {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 84px;
  }

  &__items {
    @media screen and (min-width: $tablet) {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }

    @media screen and (max-width: $till-tablet) {
      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &:last-child {
        margin-bottom: 60px;
      }
    }
  }

  &__links {
    @extend %link;
    display: inline-block;

    transition: color $transition-duration $transition-t-function;
    color: $txt-black;
    font-weight: $font-medium;
    line-height: 1.17;
    letter-spacing: 0.02em;

    @media screen and (min-width: $tablet) {
      font-size: $fsz-header;
    }

    @media screen and (max-width: $till-tablet) {
      font-size: $fsz-header-mobile;
    }
  }

  &__links:hover,
  &__links:focus {
    color: $txt-accent;
  }
}
