.nav {
  &__list {
    @extend %list;
  }

  &__links {
    display: inline-block;
    @extend %link;

    transition: color $transition-duration $transition-t-function;

    color: $txt-black;
    font-weight: $font-medium;
    font-size: $fsz-header-mobile;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  &__links:hover,
  &__links:focus {
    color: $txt-accent;
  }

  &__links:first-child {
    padding-bottom: 8px;
  }

  &__items:not(:last-child) {
    margin-bottom: 40px;
  }

  &__items:last-child {
    margin-bottom: 60px;
  }
}

// .nav {
//   display: flex;
//   align-items: baseline;

//   &__list {
//     display: flex;
//     align-items: baseline;
//   }

//   &__links {
//     display: block;
//     transition: color $transition-duration $transition-t-function;

//     font-size: $fsz-header;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//   }

//   &__items {
//     margin-right: 50px;
//   }

//   &__items:last-child {
//     margin-right: 0;
//   }
// }
