.customers {
  &__list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }

  &__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  &__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border: 1px solid $icons-customers;
    border-radius: 4px;

    transition: border $transition-duration $transition-t-function;
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid $txt-accent;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $bgc-button;
  }

  &__icon {
    fill: $icons-customers;
    transition: fill $transition-duration $transition-t-function;
  }
}

// .customers {
//   padding: 94px 0;

//   &__item {
//     width: 170px;
//     height: 90px;
//   }

//   &__link {
//     width: 170px;
//   }

//   &__item:not(:last-child) {
//     margin-right: 30px;
//   }
// }
