.our-team {
  background-color: $bgc-secondary;

  &__list {
    @extend %list;
  }
}

@media screen and (min-width: $tablet) {
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
  }

  .our-team__item {
    width: calc((100% - 30px) / 2);
  }

  .our-team__item:nth-child(odd) {
    margin-right: 30px;
  }

  .our-team__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: $desktop) {
  .our-team__list {
    flex-wrap: nowrap;
  }

  .our-team__item {
    width: calc((100% - 90px) / 4);
  }

  .our-team__item:not(:last-child) {
    margin-right: 30px;
  }
}
