.customers {
  &__list {
    @extend %list;

    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: $till-desktop) {
    &__list {
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: $till-tablet) {
    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }

    &__item:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &__item:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    &__item {
      flex-basis: calc((100% - 60px) / 3);
    }

    &__item:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &__item:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $desktop) {
    &__list {
      flex-wrap: nowrap;
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border: 1px solid $icons-customers;
    border-radius: 4px;

    transition: border $transition-duration $transition-t-function;
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid $txt-accent;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $bgc-button;
  }

  &__icon {
    fill: $icons-customers;
    transition: fill $transition-duration $transition-t-function;
  }
}
